.container {
    margin: 0 auto;
    max-width: 500px;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
}
.heading {
    color: black;
}
.nav-links {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0 15px;
}
.nav-link-item {
    padding: 0 2rem;
}
.nav-link-text {
    color: black;
    justify-items: center;
}
.site-title{
    font-size: 3rem;
    color: black;
    font-weight: 700;
    margin: 2rem 0;
}
.main-image{
    text-align: center;
}